@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family:'Overpass', sans-serif;
}
html {
    background-color: #e5ebf1;
}

.btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  .page-enter-active, .page-leave-active {
      transition: opacity 0.5s;
  }
  .page-enter, .page-leave-active {
      opacity: 0;
  }